# Terraform local files
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable files containing secrets
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

#Backup file
terraform.yml.bak
